{#配置项测试  echarts编辑器 #}
{% extends 'base.html' %}


{% block container %}

{#    测试图表#}
    <div id="chart" style="width: 400px;height: 400px;">
    </div>


<a  href="#!"  class="button waves-red" onclick="openConfig()">打开配置</a>
{#    宽高修改#}
    {#    基本的 常用的 图表编辑模块#}
    {% raw %}
    <div id="chartEdit" >
        图表高度: {{ chart.width }}px <input   v-on:input="changeSize('width')" v-model="chart.height" id="chart_height" type="range" min="300" max="1000" name="test"/>
       <!-- 暂时只修改高度，框高都变 图表宽度: {{ chart.width }}px <input  v-model="chart.width" v-on:change="changeSize('width')" id="chart_width" type="range" min="300" max="1000" name="test"/> -->

        <div class="divider"></div>
        <div class="section">
            <h5>标题设置</h5>
            <!--循环生成标题修改-->
            <div class="row" v-for="(title,index) in option.title">
            <div class="col s6">
                <label><input type="checkbox"  v-on:change="changeOption()"  v-model="title.show"/><span>标题 {{ index }}</span></label>
                <input  id="chart_title"  v-on:change="changeOption()" v-model="title.text"/>
            </div>
            <div class="col s6">副标题{{ index }}:<input  v-on:change="changeOption()" v-model="title.subtext"/></div>
            </div>

        </div>

        <div class="divider"></div>
        <div class="section">
            <h5>图表位置设置</h5>


        </div>
    </div>

{% endraw %}

{#    高级的修改 ,option编辑器 #}
    <div id="optionEdit">

    </div>


 <div class="input-field ">
          <input id="password" type="text" class="validate">
          <label for="password">输入框测试</label>
        </div>

{#    嵌套测试 #}
    <ul class="collapsible">

    <li>
        <div class="collapsible-header">二级展开</div>
        <div class="collapsible-body">
            <ul class="collapsible">
                <li> <div class="collapsible-header">二级展开</div>
        <div class="collapsible-body">
            <ul class="collapsible">
                <li>三级</li>
                <li>T三级</li>
            </ul>
        </div></li>
                <li>Test2</li>
            </ul>
        </div>
    </li>

    </ul>



{#    应用按钮 ,默认隐藏 #}
    <a href="#!"  id='apply' class="btn waves-block hide" style="z-index: 99999;position:fixed;top:0;right: 0;" >应用</a>
    <div class="sidenav" style="width: 500px" id="slide">

        <h4>图表配置</h4>


            {# 配置项 #}
    <div  class="container" ></div>
{#        容器配置#}

        {% raw %}
    <div id="option">

        <nav class="teal nav-wrapper">
            <div class="col s12">
                <a href="#!" class="breadcrumb" v-for="name in path">{{ name }}</a>
            </div>
        </nav>

        <ul>
            <li v-for="(value,key) in nowObject">{{ key }}</li>
        </ul>

    </div>
        {% endraw %}

    </div>


{% endblock %}





{% block script %}


     <script type="text/javascript" src="{{ url_for('static',filename='js/echarts.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static',filename='chart/chartEditor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='chart/EChartEditor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='chart/OptionEditor.js') }}"></script>

    <script type="text/javascript">


    var chartEditor = new ChartEditor();



        //生成侧滑的配置
        function openConfig() {

            slide.open();

            var optionEdit = new OptionEditor(chartDom);


            console.log("图表配置:");
            console.log(chart.getOption());

            {# 存放配置的容器#}
            var container = document.getElementById('option');


            console.log("初始化..");


            //旧版编辑器...全部显示的
            //chartEditor.setChartId('chart');
            //chartEditor.generateConfig(container);


    }






    {#生成测试图表#}
    var chart = echarts.init(document.getElementById('chart'));

    var options = {
        title:{
            text:"测试图表"
        },
        grid:{
            top:40,
            show:true
        },
        series:{
            type:'pie',
            data:[
                {name:"Android",value:40},
                {name:"Linux",value:30},
                {name:"Windows",value:3}
            ]
        }
    };

    chart.setOption(options);


    var slide;
    {#初始化侧滑栏#}
    document.addEventListener('DOMContentLoaded',function (evt) {
        slide=M.Sidenav.init(document.getElementById('slide'),{
         preventScrolling:false,
        //关闭时
        edge:'right',
            onOpenEnd:function(){
             $('#apply').removeClass('hide');
            },
        onCloseEnd:function () {
            $("#apply").addClass('hide');


            chartEditor.updateChart();

        }
    });


    });

    //提交按钮
    $('#apply').click(function () {
        chartEditor.updateChart();

    });


    var chartDom = document.getElementById('chart');
    var echartEdit = new EChartEditor(chartDom);


    </script>

{% endblock %}